<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <style type="text/css">
      body{
        /*background-color: #000;*/
        /*background-image: url('images/bg-img.jpeg');
        background-position: center top;
        background-repeat: repeat;*/
         background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      #player-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }
      #player{
        /*margin-top: 20px;*/
        /*border: 1px solid rgb(255,20,20);*/
      }
      #btn-container{
        display: flex;
        justify-content: center;
      }
      #play,#pause,#sync,#mute {
        padding: 1rem;
        background-color: #333;
        border: 1px solid #333;
        color: #fff;
        margin: 10px;
      }
      #play:hover,#pause:hover,#sync:hover,#mute:hover{
        background-color: rgb(255,20,20);
        border: 1px solid rgb(255,20,20);
        cursor: pointer;
      }
      #video,#timenew{
        padding: .5rem;
        border: 1px solid #555;
        background-color: #000;
        color: #fff;
      }
      #btn-vid,#btn-time{
        padding: 3px;
        border: 2px solid #333;
        background-color: #333;
        color: #fff;
      }
      #btn-vid:hover,#btn-time:hover{
        background-color: rgb(255,20,20);
        border: 2px solid rgb(255,20,20);
        cursor: pointer; 
      }
      #form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      #time{
        display: flex;
        justify-content: center;
        margin: 20px;
      }
      #nav-bar {
        background: #333333;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        padding: 1rem;
      }
      h4{
        color: #eee;
        text-align: center;
      }
    </style>
</head>
<body>
  <nav id="nav-bar">
    <h4 style="color: #fff;text-align: center;">YouTube Synchro</h4>
    <form id='form'>
      <input placeholder="Enter Video Id" id="video">
      <button type="submit" id="btn-vid">Search</button>
    </form>
  </nav>
  <div id="player-container">
    <div id="player"></div>
  </div>
  <form id='time'>
      <input type="text" placeholder="Enter Time" id="timenew">
      <button type="submit" id="btn-time">Go</button>
  </form>
  <div id="btn-container">
    <button id="play">Play</button>
    <button id="pause">Pause</button>
    <button id="mute">Mute</button>
    <button id="sync">Sync</button>
  </div>
  <div id="dt"></div>
<script>
    var tag = document.createElement('script');
    const socket = io('https://obscure-lake-76319.herokuapp.com//');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            playerVars:{
            //     'controls':0,
                'autoplay':0
            },
            videoId: 'M7lc1UVf-VE',
            events: {
                'onStateChange': onPlayerStateChange
            }
        });
    }
    document.getElementById('form').addEventListener('submit',function(e){
        e.preventDefault();
        socket.emit('newvideo',{
            video:document.getElementById('video').value,
            id:socket.io.engine.id
        })
    });
    document.getElementById('time').addEventListener('submit',function(e){
        e.preventDefault();
        console.log('REQ SENT');
        socket.emit('time',{
            time:document.getElementById('timenew').value,
            id:socket.io.engine.id
        });
    });
    socket.on('newvideo2',function(data){
        console.log('Changing')
        player.loadVideoById({videoId:data.video});
    });
    socket.on('time',function(data){
        console.log('TIME CHANGE')
        player.seekTo(data.time);
        player.pauseVideo();
    })
    var done = false;
    function onPlayerStateChange(event) {
        if(event.data==3){
            
        }
        else if(event.data==1){
            timer=setInterval(update,100);
        }
        else if(event.data==2){
            clearInterval(timer);
        }
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
    }
    function update(){
        nt=player.getCurrentTime();
        tot=player.getDuration();
        document.getElementById('dt').innerHTML=nt/tot*100;
    }
    document.getElementById('play').addEventListener('click',function(){
        socket.emit('change',{
            type:1,
            pos:player.getCurrentTime(),  
            id:socket.io.engine.id
        })
    })
    document.getElementById('mute').addEventListener('click',function(){
        socket.emit('mute',{
            id:socket.io.engine.id
        })
    })
    socket.on('mute',function(data){
        if(player.isMuted()){
            player.unMute();
        } else{
            player.mute();
        }
    })
    document.getElementById('pause').addEventListener('click',function(){
        socket.emit('change',{
            type:2,
            pos:player.getCurrentTime(),  
            id:socket.io.engine.id
        })
    })
    document.getElementById('sync').addEventListener('click',function(){
        socket.emit('get',{
            id:socket.io.engine.id
        })
    });
    socket.on('change',function(data){
        console.log(data);
        if(data.type===1){
            player.seekTo(data.pos);
            player.playVideo();
        } else if(data.type==2){
            player.seekTo(data.pos);
            player.pauseVideo();     
        } else if(data.type===3){
             
        }
    })
    socket.on('errormessage',function(data){
        if(socket.id==data.id){
            alert('Youre not the host. Only host can change.')
        }
    })
    socket.on('get',function(data){
        socket.emit('sync',{
                pos:player.getCurrentTime(),
                state:player.getPlayerState(),
                id:socket.io.engine.id,
            });
    });
    socket.on('sync',function(data){
        console.log(data)
        player.seekTo(data.pos);
        if(data.state==1){
            player.playVideo();
        } else if(data.state==2){
            player.pauseVideo();
        }  
    });
    function stopVideo() {
        player.stopVideo();
    }
</script>

</body>
</html>